/* style/PlayerList.module.css */
.playersContainer {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: auto;
}

.playersList {
    list-style-type: none;
    padding: 0;
}

.playerItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
